# CMake build directory
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Media files
*.wav
*.mp3
*.png
*.jpg

# Editor / OS files
.vscode/
.idea/
.DS_Store

# Executables
dsp_plotter
